// top-level page block
#pageMain.component.page

	table
		tr
			td.menu
				#pageMainMenu

			td#pageMainTabsList.body
				#pageMainTabPanel
					#pageMainTabPanelSimple panel with simple text inside
					#pageMainTabPanelMulti.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur.
					#pageMainTabPanelParent panel with another panel inside
						br
						br
						#pageMainTabPanelChild example of a nested panel

				#pageMainTabButton
					#pageMainTabButtonSimple wide and simple buttons with no customization
						br
						br
					#pageMainTabButtonIcon button with only icon added
						br
						br
					#pageMainTabButtonIconText buttons with icon and text added
						br
						br

				#pageMainTabInput
					#pageMainTabInputEmpty empty text input
						br
						br
					#pageMainTabInputSimple simple text input
						br
						br
					#pageMainTabInputPassword hidden password text input
						br
						br
					#pageMainTabInputPlaceholder text input with placeholder string
						br
						br

				#pageMainTabCheckBox
					#pageMainTabCheckBoxSimple simple check box with turned off default state
						br
						br
					#pageMainTabCheckBoxGroup group of check boxes with synchronized behaviour (group name - "main")
						br
						br

				#pageMainTabGrid
					#pageMainTabGridBtnPrev
					#pageMainTabGridBtnNext
					#pageMainTabGridBtnCycle
					#pageMainTabGridMain
						.title init test grid
						#pageMainTabGridMainBody

					#pageMainTabGridJoin grid with joined rows and colums
						br
						br

				#pageMainTabList
					#pageMainTabListSimple simple list
						br
						br
						table
							tr
								td
									#pageMainTabListSimpleList
								td.scroll
									#pageMainTabListCustomScrollN
					#pageMainTabListCustom list with custom rows renderer
						br
						br
						table
							tr
								td
									#pageMainTabListCustomList
								td.scroll
									#pageMainTabListCustomScrollV
					#pageMainTabListHoriz horizontal list with custom rows renderer
						br
						br
						#pageMainTabListHList
						#pageMainTabListCustomScrollH

				#pageMainTabModal

				#pageMainTabPage

				#pageMainTabProgressBar
					#pageMainTabProgressBarEmpty simple progress bar with initial value 0
						br
						br
					#pageMainTabProgressBarFull simple progress bar with initial value 100%
						br
						br
					#pageMainTabProgressBarStep1 focusable progress bar with range from -5 to 5 (arrows can change value)
						br
						br
					#pageMainTabProgressBarStep2 focusable progress bar with range from -200 to 200 (arrows can change value)
						br
						br
					#pageMainTabProgressBarStyle styled progress bar
						br
						br

				#pageMainTabWidget
					#pageMainTabWidgetW1
			#pageMainTabWidgetW2
#pageMainTabWidgetW3


