// top-level page block
#pageMain.component.page

	table
		tr
			td.menu
				#pageMainMenu

			td.body
				#pageMainTabPanel
					#pageMainTabPanelSimple panel with simple text inside
					#pageMainTabPanelMulti.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					#pageMainTabPanelParent panel with another panel inside
						br
						br
						#pageMainTabPanelChild example of a nested panel

				#pageMainTabButton
					#pageMainTabButtonSimple simple button with no customization
						br
						br
					#pageMainTabButtonIcon button with only icon added
						br
						br
					#pageMainTabButtonIconText button with icon and text added
						br
						br

				#pageMainTabInput
					#pageMainTabInputSimple simple text input
						br
						br

				#pageMainTabCheckBox
					#pageMainTabCheckBoxSimple simple check box with turned off default state
						br
						br
					#pageMainTabCheckBoxGroup group of check boxes with synchronized behaviour (group name - "main")
						br
						br

				#pageMainTabGrid
					#pageMainTabGridBtnPrev
					#pageMainTabGridBtnNext
					#pageMainTabGridBtnCycle
					#pageMainTabGridMain
						.title init test grid
						#pageMainTabGridMainBody

					#pageMainTabGridJoin grid with joined rows and colums
						br
						br

				#pageMainTabList
					#pageMainTabListSimple simple list
						br
						br
					#pageMainTabListCustom list with custom rows renderer
						br
						br
						//.qwe
						//	#pageMainTabListCustomList
						table
							tr
								td
									#pageMainTabListCustomList
								td
									#pageMainTabListCustomScroll
					#pageMainTabListHoriz horizontal list with custom rows renderer
						br
						br

				#pageMainTabModal

				#pageMainTabPage

				#pageMainTabProgressBar
					#pageMainTabProgressBarPanel simple progress bar with range from -50 to 50 and initial value 0
						br
						br

				#pageMainTabWidget
					#pageMainTabWidgetW1
			#pageMainTabWidgetW2
#pageMainTabWidgetW3
